.icon {
	display: inline-block;
	width: 32px;
	height: 32px;
	fill: #000000;
}

.icon-search {
	fill: #000000;
}
.icon-heart {
	fill: #000000;
}
.icon-check {
	fill: #000000;
}
.icon-times {
	fill: #000000;
	width: 25px;
}
.icon-home {
	fill: #000000;
	width: 30px;
}
.icon-tag {
	fill: #000000;
}
.icon-tags {
	fill: #000000;
	width: 34px;
}
.icon-pencil {
	fill: #000000;
}
.icon-chevron-left {
	fill: #000000;
	width: 30px;
}
.icon-chevron-right {
	fill: #000000;
}
.icon-comment {
	fill: #000000;
}
.icon-comments {
	fill: #000000;
}
.icon-twitter {
	fill: #000000;
	width: 30px;
}
.icon-facebook {
	fill: #000000;
	width: 14px;
}
.icon-chain {
	fill: #000000;
	width: 30px;
}
.icon-google-plus {
	fill: #000000;
	width: 30px;
}
.icon-envelope {
	fill: #000000;
}
.icon-linkedin {
	fill: #000000;
}
.icon-spinner {
	fill: #000000;
}
.icon-info {
	fill: #000000;
}
.icon-exclamation {
	fill: #000000;
}
.icon-html5 {
	fill: #000000;
}
.icon-css3 {
	fill: #000000;
}
.icon-thumbs-up {
	fill: #000000;
}
.icon-thumbs-down {
	fill: #000000;
}
.icon-youtube {
	fill: #000000;
}
.icon-tumblr {
	fill: #000000;
}
.icon-skype {
	fill: #000000;
}
