<section class="home-about">
	<header class="section-head cf">
	<div class="container container--full">
				<h2 class="float--left">About Me</h2>
				<a href="/about" class="btn btn--secondary float--right">Find out more</a>
			
			</div>
			</header>
		<div class="container">
			<div class="island">
			<div class="grid">
				<div class="grid__item lap--one-quarter desk--one-fifth visuallyhidden--palm">
					<img src="/images/keith-about.jpg" alt="" class="img--block">
				</div>
				<div class="grid__item lap--three-quarters desk--four-fifths">
					<h3>I love simple, effective design.</h3>
					<p>That&rsquo;s why whenever I&rsquo;m working on a project, whether it be a responsive site, a cutting-edge web app, or a new package design, I make sure to get my clients&rsquo; points across in the most efficient way possible. Regardless of what you need done, I&rsquo;ll work with you to get that image in your head out into the world where it belongs.</p>
					<p>I study Interactive Media Design at Palomar College in San Marcos, California. <strong>I am currently available for hire</strong>, so if you&rsquo;d like to bring me on board for your next project, get in contact with me using any of the links up top!
				</div>
			</div>
		</div>
	</div>

</section>