<header id="page-head" class="page-head">
	<div class="page-head__top">
		<div class="container">
			<div class="grid">
				<div class="grid__item lap--one-half desk--one-half">
					<a href="{{ site.url }}">
						<img class="site-logo" alt="Logo" src="{{ site.url }}/images/brand/logo-text.png">
					</a>
				</div>
				<div class="grid__item lap--one-half desk--one-half">
					<ul class="nav social-links">
						<li class="flyout brand--email">
							<a class="popup" href="#contact">
								<svg class="icon icon--envelope">
									<use xlink:href="#icon-envelope"></use>
								</svg>
							</a>
							<span class="flyout__content tooltip">Contact form</span>
						</li>
						<li class="flyout brand--facebook">
							<a href="http://facebook.com/keithpickeringdesign">
								<svg class="icon icon--facebook">
									<use xlink:href="#icon-facebook"></use>
								</svg>
							</a>
							<span class="flyout__content tooltip">Facebook</span>
						</li>
						<li class="flyout brand--twitter">
							<a href="http://twitter.com/thatkeithdude">
								<svg class="icon icon--twitter">
									<use xlink:href="#icon-twitter"></use>
								</svg>
							</a>
							<span class="flyout__content tooltip">Twitter</span>
						</li>
						<li class="flyout brand--tumblr">
							<a href="http://keithhasanartblog.tumblr.com">
								<svg class="icon icon--tumblr">
									<use xlink:href="#icon-tumblr"></use>
								</svg>
							</a>
							<span class="flyout__content tooltip">Tumblr</span>
						</li>
						<li class="flyout brand--linkedin">
							<a href="http://www.linkedin.com/pub/keith-pickering/62/b8b/544">
								<svg class="icon icon--linkedin">
									<use xlink:href="#icon-linkedin"></use>
								</svg>
							</a>
							<span class="flyout__content tooltip">LinkedIn</span>
						</li>
					</ul>
				</div>
			</div>
		</div><!-- /container -->
	</div><!-- /page-head__top -->
	<nav class="main-nav">
		<div class="container container--full">
			<a href="{{ site.url }}" class="main-nav__home">Home</a>
			<a href="{{ site.url }}/projects" class="main-nav__projects">Projects</a>
			<a href="http://keithhasanartblog.tumblr.com/" class="main-nav__blog">Blog</a>
			<a href="{{ site.url }}/about" class="main-nav__about">About Me</a>
		</div><!-- /container -->
	</nav><!-- /main-nav -->
</header><!-- /page-head -->