<div class="old-browser-warning">
	<div class="container">
		Your browser is out of date&mdash;some elements won&rsquo;t display correctly. <a class="btn btn--small float--right" href="http://whatbrowser.org/">More info</a>
	</div>
</div>

<header id="page-head" class="page-head">
	<div class="page-head__top">
		<div class="container">
			<div class="grid">
				<div class="grid__item lap--one-half desk--one-half">
					<a href="{{ site.url }}">
						<img class="site-logo" alt="Logo" src="{{ site.url }}/images/brand/logo-text.png">
					</a>
				</div>
				<div class="grid__item lap--one-half desk--one-half">
					<ul class="nav social-links">
						<li class="flyout brand--email">
							<a class="popup" data-fancybox-type="ajax" href="/contact.php">
								<svg class="icon icon--envelope">
									<use xlink:href="#icon-envelope"></use>
								</svg>
							</a>
							<span class="flyout__content tooltip">Contact form</span>
						</li>
						<li class="flyout brand--twitter">
							<a href="http://twitter.com/thatkeithdude">
								<svg class="icon icon--twitter">
									<use xlink:href="#icon-twitter"></use>
								</svg>
							</a>
							<span class="flyout__content tooltip">Twitter</span>
						</li>
						<li class="flyout brand--facebook">
							<a href="http://facebook.com/keithpickeringdesign">
								<svg class="icon icon--facebook">
									<use xlink:href="#icon-facebook"></use>
								</svg>
							</a>
							<span class="flyout__content tooltip">Facebook</span>
						</li>
						<li class="flyout brand--google-plus">
							<a href="http://google.com/+KeithPickeringGuy">
								<svg class="icon icon--google-plus">
									<use xlink:href="#icon-google-plus"></use>
								</svg>
							</a>
							<span class="flyout__content tooltip">Google+</span>
						</li>
						<li class="flyout brand--codepen">
							<a href="http://codepen.io/keithpickering/">
								<svg class="icon icon--codepen">
									<use xlink:href="#icon-codepen"></use>
								</svg>
							</a>
							<span class="flyout__content tooltip">Codepen</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<nav class="main-nav">
		<div class="container container--full">
			<a href="{{ site.url }}" class="main-nav__home">Home</a>
			<a href="{{ site.url }}/projects" class="main-nav__projects">Projects</a>
			<a href="http://blog.keithpickering.net/" class="main-nav__blog">Blog</a>
			<a href="{{ site.url }}/about" class="main-nav__about">About Me</a>
		</div>
	</nav>
</header>