.text-input {
	width: 100%;
	padding: $half-spacing-unit;
	border: 0;
	background-color: $clouds;
	transition: box-shadow 0.25s;
	&:hover {
		background-color: lighten($clouds, 5%);
		box-shadow: 0 0 0 2px desaturate($peter-river, 50%);
	}
	&:focus {
		background-color: white;
		box-shadow: 0 0 0 4px $peter-river;
	}
	@include placeholder {
		color: $gray-light;
	}
}

.submit-wrap {
	position: relative;
	white-space: nowrap;
	&:hover {
		.text-input {
			background-color: white;
		}
	}
	.btn {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		line-height: 1;
		box-shadow: inset 0 0 0 2px white;
	}
}