.icon {
	display: inline-block;
	vertical-align: middle;
	width: 32px;
	height: 32px;
	fill: white;
}
.icon--small {
	width: 24px;
	height: 24px;
}
.icon--dark {
	fill: $wet-asphalt;
}
.icon--red {
	fill: $alizarin;
}
.icon--search {
}
.icon--heart {
}
.icon--check {
}
.icon--times {
	width: 25px;
}
.icon--home {
	width: 30px;
}
.icon--tag {
}
.icon--tags {
	width: 34px;
}
.icon--pencil {
}
.icon--chevron-left {
	width: 30px;
}
.icon--chevron-right {
}
.icon--comment {
}
.icon--comments {
}
.icon--twitter {
	width: 30px;
}
.icon--facebook {
	width: 14px;
}
.icon--chain {
	width: 30px;
}
.icon--google-plus {
	width: 30px;
}
.icon--envelope {
}
.icon--linkedin {
}
.icon--spinner {
}
.icon--info {
}
.icon--exclamation {
}
.icon--html5 {
}
.icon--css3 {
}
.icon--thumbs-up {
}
.icon--thumbs-down {
}
.icon--youtube {
}
.icon--tumblr {
}
.icon--skype {
}
